<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Search<% if (query) { %> for <%= query %><% } %></title>
  </head>
  <body>
    <form>
      <div>
        <input name="q" type="text"<% if (query) { %> value="<%= query %>"<% } %> />
        <input type="submit" value="Search" />
      </div>
    </form>
    <% if (count) { %>
    <p><% if (prev) { %><a href="?q=<%= queryEscaped %>&r=<%= prev %>">Prev</a><% } %> <%= count %> <% if (next) { %><a href="?q=<%= queryEscaped %>&r=<%= next %>">Next</a><% } %></p>
    <% } else { %>
    <p>Please search the catalog.</p>
    <% } %>
    <ol start="<%= start %>">
      <% for (title in titles) { 
        var items = titles[title]; %>
      <li>
        <h4><%= title %></h3>
        <ul>
          <% for (item in items) { %>
          <li><%= item %></li>
          <% } %>
        </ul>
      </li>
      <% } %>
    </ol>
  </body>
</html>
